<h1>Editing Library Subscription</h1>

<%= render 'form', library_subscription: @library_subscription %>

<%= link_to 'Show', @library_subscription %> |
<%= link_to 'Back', library_subscriptions_path %>
